<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

</head>
<body>
<form
				th:action="${hotel.id == null} ? @{/admin/salvarHotel} : @{/admin/editarHotel}"
				th:object="${hotel}" method="POST">
				<label th:text="${hotel.id}"></label>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label th:text="#{hotel.nome}" for="nome"></label> 
						<input type="text" class="form-control" id="nome" autofocus="autofocus"
							th:field="*{nome}" th:placeholder="#{hotel.nome}"
							th:classappend="${#fields.hasErrors('nome')} ? is-invalid" />

						<div class="invalid-feedback">
							<span th:errors="*{nome}"></span>
						</div>
					</div>
					<div class="form-group col-md-6">
						<label th:text="#{hotel.cnpj}" for="CNPJ"></label> 
							<input type="text" class="form-control" id="CNPJ" autofocus="autofocus"
							th:field="*{CNPJ}" placeholder="__.___.___/____-__"
							th:readonly="${hotel.id != null}"
							data-mask="00.000.000/0000-00" data-mask-reverse="true"
							th:classappend="${#fields.hasErrors('CNPJ')} ? is-invalid" />
						<div class="invalid-feedback">
							<span th:errors="*{CNPJ}"></span>
						</div>
					</div>
					<div class="form-group col-md-6">
						<label th:text="#{email}" for="email"></label> 
						<input type="text" class="form-control" id="email" autofocus="autofocus"
							th:field="*{email}" th:placeholder="#{email}"
							th:classappend="${#fields.hasErrors('email')} ? is-invalid" />

						<div class="invalid-feedback">
							<span th:errors="*{email}"></span>
						</div>
					</div>
					
					<div class="form-group col-md-6">
						<label th:text="#{senha}" for="senha"></label> 
						<input type="password" class="form-control" id="senha" autofocus="autofocus"
							th:field="*{senha}" th:placeholder="#{senha}"
							th:classappend="${#fields.hasErrors('senha')} ? is-invalid" />

						<div class="invalid-feedback">
							<span th:errors="*{senha}"></span>
						</div>
					</div>
					
					<div class="form-group col-md-6">
						<label th:text="#{hotel.cidade}" for="cidade"></label> 
						<input type="text" class="form-control" id="cidade" autofocus="autofocus"
							th:field="*{cidade}" th:placeholder="#{cidade}"
							th:classappend="${#fields.hasErrors('cidade')} ? is-invalid" />

						<div class="invalid-feedback">
							<span th:errors="*{cidade}"></span>
						</div>
					</div>
				</div>

				<input type="hidden" id="id" th:field="*{id}" />
				<button type="submit" th:text="#{salvar.hotel}"
					class="btn btn-primary btn-sm"></button>
			</form>
</body>
</html>