<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form
				th:action="${hotel.cnpj == null} ? @{/editoras/salvar} : @{/editoras/editar}"
				th:object="${editora}" method="POST">

				<div class="form-row">
					<div class="form-group col-md-6">
						<label th:text="#{editora.nome.label}" for="nome"></label> 
						<input type="text" class="form-control" id="nome" autofocus="autofocus"
							th:field="*{nome}" th:placeholder="#{editora.nome.label}"
							th:classappend="${#fields.hasErrors('nome')} ? is-invalid" />

						<div class="invalid-feedback">
							<span th:errors="*{nome}"></span>
						</div>
					</div>

						<label th:text="#{editora.cnpj.label}" for="CNPJ"></label> 
						<input type="text" class="form-control" id="CNPJ" autofocus="autofocus"
							th:field="*{CNPJ}" placeholder="__.___.___/____-__"
							th:readonly="${editora.id != null}"
							data-mask="00.000.000/0000-00" data-mask-reverse="true"
							th:classappend="${#fields.hasErrors('CNPJ')} ? is-invalid" />
							
						<div class="invalid-feedback">
							<span th:errors="*{CNPJ}"></span>
					</div>
				</div>

				<input type="hidden" id="id" th:field="*{id}" />
				<button type="submit" th:text="#{button.salvar.label}"
					class="btn btn-primary btn-sm"></button>
			</form>
</body>
</html>