<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8"/>
	<title th:text="#{promocao.lista.message}"></title>
</head>

<body>
	<div class="container" id="listagem">
		<div class="table-responsive">
			<table class="table table-striped table-hover table-sm">
				<thead>
					<tr>
						<th>#</th>
						<th th:text="#{promocao.URL}"></th>
						<th th:text="#{promocao.preco}"></th>
						<th th:text="#{promocao.inicio}"></th>
						<th th:text="#{promocao.fim}"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="promocao : ${promocoes}">
						<td th:text="${promocao.id}"></td>
						<td th:text="${promocao.URL}"></td>
						<td th:text="${promocao.preco}"></td>
						<td th:text="${promocao.inicio}"></td>
						<td th:text="${promocao.fim}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>

</html>